// Set
@media(max-width:767px)
	.reset-pd-xs
		padding-left 0
		padding-right 0

		> .row
			margin-right 0
			margin-left 0

			> .col-md-12
				padding-left 0
				padding-right 0

	.set-title-wrapper
		h2
		h1
			font-size 20px
			padding 8px 13px 3px

		.more-info
			.date
			.at
				font-size 18px