$ncols = 6
$nrows = 3

$col_width = 100%/$ncols

$cinza-0 = #353535
$cinza-1 = lighten($cinza-0, 20%)
$cinza-2 = lighten($cinza-1, 20%)
$cinza-3 = lighten($cinza-2, 20%)
$cinza-4 = lighten($cinza-3, 20%)
$cinza-5 = lighten($cinza-4, 20%)

$rosa = #FF007A
$roxo = #93648D
$verde = #7BC8A4
$azul = #4CC3D9
$amarelo = #FFC65D
$vermelho = #F16745
$preto = #404040
$branco = whitesmoke

$menucolors = ( $azul $verde $roxo $amarelo $vermelho )

$grad1 = ( $azul $verde $roxo $amarelo $vermelho )
$grad2 = ( $roxo $vermelho $verde $azul $amarelo )


$grayscale_nv = 60%
$graysvg = "data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.449 0.5 0.05 0 0, 0.149 0.801 0.05 0 0, 0.149 0.5 0.35 0 0, 0 0 0 1 0'/></filter></svg>#greyscale"
$blursvg = "data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='1' /></filter></svg>"