.page-set
	.mosaic
		.card-set	
			.item-container
				background-position center top
				
			@media(min-width:768px)
				&.w1
					.title-cell
						padding 0 5px
						
						h2
							font-size 16px
							padding 5px 15px
							
						.set-info
							.at
							.date
								font-size 16px
			h2
				font-size 22px
				word-break break-word
				
			.set-info
				transition opacity .3s ease
				.at
				.date
					font-size 20px
					
				@media(min-width:992px)
					opacity 0
					
			&:hover
				.set-info
					opacity 1
		
			@media(min-width:768px) and (max-width:991px)
				&.h1
					h2
						font-size 18px
						padding 8px 15px 5px
						
					.set-info
						.at
						.date
							font-size 16px

		
.tile-3-item
	width 33.33333333%
	
	@media(max-width:767px)
		float none
		width 100%
	
.item-evento
	display block
	
	.item-container
		padding-bottom 80%
		
	.title-cell
		padding 0
		
	.title-wrapper
		h2
			border none
			display block
			font-size 26px
			transition all .3s ease
			
	&:hover
		.title-wrapper
			h2
				padding 20px 15px
				
	@media(max-width:991px)
		.title-wrapper
			h2
				font-size 20px
				
.evento-set
	display block
	position relative
	overflow hidden
	transition filter .3s ease, -webkit-filter .3s ease
	.item-container
		padding-bottom 120%
		transition transform .3s ease
		
		@media(max-width:767px)
			padding-bottom 90%
		
	.title-wrapper h2
		font-size 22px
				
	.set-info .more-info
		.date
			font-size 22px 
		.at
			font-size 18px
		
.contato-form-wrapper	
	@media(max-width:767px)
		margin 0 auto
		max-width none
	
	.row
		margin-left 0
		margin-right 0
	
	.col-md-6
	.col-md-12
		padding-left 0
		padding-right 0
		
.error404
	main
		background-image url('../img/bg-404.jpg')
		background-repeat no-repeat
		background-size cover
		background-position center center
		
		
.error404-message
	text-align center
	margin 110px auto
	color $branco
	max-width 500px
	text-transform uppercase
	padding 0 10px
	
	small 
		font-size 22px
		margin-bottom 20px
		text-shadow 0 0 8px red, 0 0 4px red
		
	h1
		font-size 80px
		text-shadow 0 0 15px red, 0 0 8px red
		
	h2
		font-size 50px
		text-shadow 0 0 15px $azul, 0 0 8px $azul
		
	@media(max-width:767px)
		h1
			font-size 60px
			
		h2
			font-size 30px
		
.author-meta-box
	width 100%
	background-color rgba($cinza-5,.4)
	text-align center
	
	section
		padding 15px 0
		display inline-block
		vertical-align middle
		
		&.avatar
			text-align right
		img
			max-width 140px
			height auto
			display inline-block
			
			border-radius 50%
			overflow hidden
			
		&.bio
			text-align left
			padding-left 25px
			color #fff

		a
			color #fff
			
			&:hover
				color $azul
				
	@media(max-width:480px)
		section
			display block
			
			&.avatar 
				padding-top 25px
				
			&.bio
				padding-bottom 25px
			
			&.avatar
			&.bio
				text-align center
				padding-left 0