header
	background-color $cinza-0

	.logo
		font-family 'Josefin Sans'
		font-size 22px
		color #FFF
		font-weight 300
		display inline-block
		text-transform uppercase
		padding-top 5px
		
		&:hover
			span
				color rgba(255,255,255,0.6)
		
		span
			color rgba(255,255,255,1)
			text-shadow #fff 0 0 60px
			transition text-shadow 1s cubic-bezier(0, 1, 0, 1), color .3s ease
		  
			&:hover
				text-shadow #fff 0 0 0px
				transition text-shadow .6s cubic-bezier(0, 0.75, 0, 1)
		
	form
		position relative
		input 
			border-radius 0
			-webkit-appearance none
			min-height 28px
			width 100%
			border none
			background-color transparent
			color $cinza-3
			text-transform uppercase
			padding-right 30px
			padding 0
			font-size 12px
			
			&::-webkit-search-decoration
			&::-webkit-search-cancel-button
			&::-webkit-search-results-button
			&::-webkit-search-results-decoration
				display: none;
				
		button
			position absolute
			top 4px
			padding 0 5px 0 0
			right 0
			background none
			border none
			cursor pointer
			color $cinza-2
			transition color .3s ease
			
			&:hover
				color $cinza-4
			
			&::before
				font-size 20px
				
.header-content
	display table
	width 100%
	
.mobile-top
.search-wrapper
.main-menu
	display table-cell
	vertical-align middle
	
.main-menu
	width 55%
	padding 0 5%
	
.mobile-top 
	width 20%
	
.search-wrapper
	width 15%
		
nav
	background-color $cinza-0
	ul
		display table
		width 100%
	li
		list-style none
		display table-cell
		text-align center
		
		&.current-menu-item a
		a:hover
			@media(min-width:768px)
				padding-bottom 14px
		
		for i in (0..4)
			&:nth-child(2n+{i+1})
				&.current-menu-item a
				a:hover
					@media(max-width:767px)
						background-color $menucolors[i]
					@media(min-width:768px)
						border-bottom 1px solid $menucolors[i]
						color $menucolors[i]
		a
			display block
			padding 20px 10px 15px
			color $branco
			transition background-color .3s ease
			font-family 'Josefin Sans'
			text-transform uppercase
			font-weight bold
		
		a:hover
			color #fff
		

.mobile-btn-wrapper
	cursor pointer
	user-select none
	display none
	padding 5px

.bar-icon 
	height 3px
	width 20px
	background #fff
	display block
	opacity 1
	margin-top 4px
	transition transform 0.15s linear
	transform-origin 50% 50%

	&:nth-child(1) 
		margin-top 0

	&:nth-child(2) 
		transition opacity 0.1s linear
			
@media(max-width: 767px)
	.col-md-12
		position static
		
	.mobile-btn-wrapper
		display inline-block
		transition background-color .3s ease
		
		&:hover
		&.active
			background-color $azul

	.mobile-top
		display table
		width 100%
		> div
			display table-cell
			vertical-align middle
			
			&:last-child
				padding-left 15px
		
	nav		
		transform translateZ(0)
		perspective 1000
		backface-visibility hidden
		position absolute
		left 0
		z-index 999
		display none
		
		&.active
			margin 15px 0 
			max-height 295px
			display block
		
		li
			display block
		
			&.current-menu-item a
			a:hover
				background-color $azul

	.mobile-btn-wrapper
		&.active
			.bar-icon:nth-child(1) 
				transform rotate(45deg) translate3d(5px,5px,0)
			.bar-icon:nth-child(2) 
				opacity 0
			.bar-icon:nth-child(3) 
				transform rotate(-45deg) translate3d(5px,-5px,0) 
				
@media(max-width: 991px)

	header
		form
		.logo
			margin 15px 0
	
	.header-content
		display block
			
	.mobile-top
	.search-wrapper
	.main-menu
		width 100%
		display block
		padding 0
		
	.mobile-top
		display table
		
	nav
		ul
			table-layout fixed

@media(max-width:1200px)
	header
		.logo 
			font-size 20px
				