.infinite-loading
	width 100%
	height 90px
	margin 0 auto
	position relative
	display none
	
	&.loading-item
		display block
	
.spinner-wrapper
	background-color rgba(#333,.6)
	position absolute
	left 0
	top 0
	right 0
	bottom 0
	z-index 101

.spinner
	width 40px
	height 40px
	position absolute
	margin auto
	z-index 102
	left 0
	right 0
	top 0
	bottom 0
	transition all 	.3s ease
	background-image url(../img/ajax-loader.gif)
	background-position center center
	background-size 40px
	border-radius 50%