.page-set
	.main-slider
		padding-bottom 40%
		max-height 400px
		overflow hidden
		
		&.slick-initialized
			padding-bottom 0
			max-height none
			
		.card-set
			width 100%
			
			.item-container
				background-position center
			
			&:hover
				.item-container
					transform none
					
			.item-container
				padding-bottom 40%
				
						
				@media(max-width:991px)
					padding-bottom 50%
				
				@media(max-width:767px)
					padding-bottom 100%

		